:root{
    --main_color: #24353F;
    --second_color:#17A2B8;
}

.main-color{
    background-color: var(--main_color);
}
.second_color{
    color: var(--second_color);
}
.wide {
    width: 65%;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 0.9) !important; 
}


.btn:hover {
    color: white;
    background-color: var(--second_color);
    border-color: var(--second_color);
}
.btn{
    border: 1px solid var(--second_color);
}
.form-control::placeholder {
    color:#B6B6B6;
    opacity: 1;
}


.form-control {
    box-shadow: none !important; 
    background-color: var(--main_color);
    color: white;
}


.form-control:focus {
    color: white;
    background-color: var(--main_color);
    border-color: #86b7fe; 
    outline: 0;
    box-shadow: none !important; 
}

a:hover {
 text-decoration: underline !important ; 
}